{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Add Page
{% endblock %}

{% block body_block %}
    <link href="{% static 'dist/css/signin.css' %}" rel="stylesheet">
    <form class="form-signin" role="form" method="post" action=".">
      {% csrf_token %}
      <img class="mb-4 col-md" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Add a Page to <a href="/rango/category/{{category.slug}}/">{{ category.name }}</a></h1>
      <label for="inputTitle" class="sr-only">The title of the page:</label>
      <input type="text" id="inputTitle" class="form-control" placeholder="Title" name="title" required autofocus>
      <label for="inputURL" class="sr-only">The URL of the page:</label>
      <input type="url" id="inputURL" class="form-control" placeholder="URL" name="url" required>
      {% for hidden in form.hidden_fields %}
          {{ hidden }}
      {% endfor %}
      <button class="btn btn-lg btn-primary btn-block" type="submit">Add Page</button>
    </form>
{% endblock %}